body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
  background-color: rgb(174, 154, 207);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
#rend{
  display: grid;
  place-items: center;
}
#heading , #heading-2{
  color: white;
  background-color: rgb(86, 65, 114);
  text-align: center;
  margin-bottom: 0px;
  padding: 5px;
  width: 810px;
}
#heading{
  width: 578px;
}
textarea , #preview{
  margin-top: 0px;
  border: 2px solid rgb(226, 219, 235);
  background-color: rgb(226, 219, 235);
  padding: 7px;
  resize: vertical;
  outline: none;
  width: 570px;
}
#preview{
  width: 800px;
}